body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #111;
    color: white;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 60px 10%;
}

.accueil {
    text-align: center;
}

.gris {
    background: #f4f4f4;
}

.noir {
    background: #111;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00c9a7;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}

.projets-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.projet {
    background: white;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
}

.competences {
    display: flex;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 10px;
}





.projet-detail {
    display: none;
}


.apropos-contenu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.photo-profil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #00c9a7;
}
